/*
ReDefault 4.1
https://github.com/L64/redefault
Under the Unlicense: https://unlicense.org
*/
body {
	color: black;
	background: white;
	font-size: small;
}
h1 {
	font-weight: bold;
	font-size: xx-large;
}
h2 {
	font-weight: bold;
	font-size: x-large;
}
h3 {
	font-weight: bold;
	font-size: large;
}
h4, h5 {
	font-weight: bold;
	font-size: medium;
}
br, button {
  font-size: regular;
}
p, li {
	font-size: medium;
}
a:link {
	color: #0000eb;
	text-decoration: underline;
}
a:visited {
	color: #42007e;
	text-decoration: underline;
}
a:hover {
	color: #0000eb;
	text-decoration: underline;
}
a:active {
	color: #ff0000;
	text-decoration: underline;
}


/* Make-an-icon */
.ri {
	width: 15px;
	height: 15px;
}

/* Figures? */
.ri .circular {
	border-radius: 100%;
}
.ri .semi-square {
	border-radius: 5%;
}
.ri .square {
	border-radius: 0%;
}

/* More sizes */
.ri .size-0 {
	width: 15px;
	height: 15px;
}
.ri .size-1 {
	width: 25px;
	height: 25px;
}
.ri .size-2 {
	width: 30px;
	height: 30px;
}
.ri .size-3 {
	width: 60px;
	height: 60px;
}
.ri .size-4 {
	width: 120px;
	height: 120px;
}

/* The same in roman numbers */
.ri .I {
	width: 25px;
	height: 25px;
}
.ri .II {
	width: 30px;
	height: 30px;
}
.ri .III {
	width: 60px;
	height: 60px;
}
.ri .IV {
	width: 120px;
	height: 120px;
}
